{% extends "base.html" %}
{% block title %}TaskTrack - Nueva Categoría{% endblock %}

{% block content %}
<div class="page-header">
    <div><h2>Nueva Categoría</h2></div>
</div>

<div class="card-bookhub">
    <form action="{{ url_for('crear_categoria') }}" method="POST">
        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control"
                   value="{{ datos.nombre if datos else '' }}" required>
        </div>
        <div class="mb-3">
            <label>Descripción</label>
            <textarea name="descripcion" class="form-control" rows="3" required>{{ datos.descripcion if datos else '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-dark">Guardar</button>
        <a href="{{ url_for('lista_categorias') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}